<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/MyTest?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC&amp;useSSL=false</property>
        <property name="hibernate.connection.password">r20Porsche2022</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="by.it.academy.entity.Homework_Relation.Person"/>
        <mapping class="by.it.academy.entity.Homework_Relation.EmployeeDetail"/>
        <mapping class="by.it.academy.entity.Homework_Relation.Employee"/>
        <mapping class="by.it.academy.entity.Homework_Relation.Department"/>
        <mapping class="by.it.academy.entity.Homework_Relation.Meeting"/>
        <mapping class="by.it.academy.entity.Car"/>
        <mapping class="by.it.academy.entity.Client"/>
        <mapping class="by.it.academy.entity.Access"/>
        <mapping class="by.it.academy.entity.User"/>
        <mapping class="by.it.academy.entity.Mark" />
        <mapping class="by.it.academy.entity.Model" />
        <mapping class="by.it.academy.entity.Engine"/>
    </session-factory>
</hibernate-configuration>
