<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd
       https://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="by.it.academy.offer.aop"/>

    <aop:config>
        <aop:pointcut id="performanceException"
                      expression="execution(* by.it.academy.offer.aop.TaskService.performExceptionJob())"/>

        <aop:pointcut id="performance"
                      expression="execution(* by.it.academy.offer.aop.TaskService.performJob())"/>

        <aop:pointcut id="performanceAround"
                      expression="execution(* by.it.academy.offer.aop.TaskService.performJobAround())"/>


        <aop:aspect ref="work">
            <aop:before pointcut-ref="performance" method="beforeWork"/>
            <aop:after-returning pointcut-ref="performance" method="afterWork"/>
            <aop:after-throwing pointcut-ref="performanceException" method="afterWorkProblems"/>
            <aop:around method="aroundWork" pointcut-ref="performanceAround"/>
        </aop:aspect>
    </aop:config>
</beans>